.wrapper{
    max-width: 1200px;
    margin: 0 auto;
}
ul.menu_list li a {
    text-decoration: none;
    padding: 0px 10px;
    color: white;
    font-family:sans-serif ;
}
h3{
    text-align: center;
    color: rgb(10, 148, 235);
    font-size: 40px;
    font-weight: bold;
}
ul.menu_list{
    display: flex;
    list-style: none;
    background-color: blue;
    padding: 10px;
}